<div class="row center-xs around-xs open-source">
  <div>
    <h2>
      <a href="https://github.com/apmiller108/angular2_webpack_starter">
        Angular 2 Webpack Starter 
      </a>
    </h2>
    <p>
      An Angular 2 starter using webpack, typescript, karma, jasmine, sass, and 
      flexbox grid.
    </p>
    <a href="https://github.com/apmiller108/angular2_webpack_starter" class="link github">
      <span><i class="fa fa-github" aria-hidden="true"></i></span>
      the repo
    </a>
  </div>
  <div>
    <h2>
      <a href="https://rubygems.org/gems/google_sheets_appendroid">
        Google Sheets Appendroid
      </a>
    </h2>
    <p>
      A Ruby gem for appending rows to a Google Sheets spreadsheet.
    </p>
    <a href="https://github.com/apmiller108/google_sheets_appendroid" class="link github">
      <span><i class="fa fa-github" aria-hidden="true"></i></span>
      the repo
    </a>
  </div>
  <div>
    <h2>
      <a href="https://rubygems.org/gems/locotimezone">
        Locotimezone
      </a>
    </h2>
    <p>
      A Ruby gem for transforming a street address into geoloction and timezone
      data.
    </p>
    <a href="https://github.com/apmiller108/locotimezone" class="link github">
      <span><i class="fa fa-github" aria-hidden="true"></i></span>
      the repo
    </a>
  </div>
</div>
<div class="row center-xs back-link">
  <a routerLink="/">
    <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
    back
  </a>
</div>
