.alex-miller-mug {
  background-image: url('../../assets/images/alex_miller.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  width: 200px;
  height: 200px;
}
.name {
  text-transform: uppercase;
}
