<div class="row center-xs intro">
  <div class="col-xs-12 col-sm-8 col-md-7">
    <name></name>
    <p class="bio">
      I build applications in Ruby on Rails and AngularJS in TDD style. I like learning new
      things, which lately has been Elixir, Phoenix and Angular 2.
    </p>
    <div class="row top-xs around-xs links">
      <div class="col-xs-12 col-md">
        <a href="https://github.com/apmiller108" class="link github">
          <span><i class="fa fa-github" aria-hidden="true"></i></span>
          github
        </a>
      </div>
      <div class="col-xs-12 col-md">
        <a href="https://www.linkedin.com/in/alex-miller-551b0b59" class="link linkedin">
          <span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span>
          linkedin
        </a>
      </div>
      <div class="col-xs-12 col-md">
        <a href="http://blog.alex-miller.co/" class="link blog">
          <span><i class="fa fa-book" aria-hidden="true"></i></span>
          blog
        </a>
      </div>
      <div class="col-xs-12 col-md">
        <a href="https://alex-til.herokuapp.com" class="link til">
          <span><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>
          til
        </a>
      </div>
      <div class="col-xs-12 col-md">
        <a routerLink="/open_source" class="link open-source">
          <span><i class="fa fa-smile-o" aria-hidden="true"></i></span>
          open source
        </a>
      </div>
    </div>
  </div>
</div>

