@import '../../assets/styles/variables';

.intro {
  @media screen and (min-width: $bp-tablet + 1) {
    margin-top: 10%;
  }
  .alex-miller-mug {
    background-image: url('../../assets/images/alex_miller.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .name {
    text-transform: uppercase;
  }
}
