html {
  font-size: 62.5%;
}
body {
  font-family: $base-font;
}
h1 {
  font-weight: bold;
  font-size: 4.8rem;
  color: $blue;
}
h2 {
  color: #383D3B;
}
p {
  color: $grey;
  font-size: 1.8rem;
}
a {
  font-size: 1.8rem;
}
.initials {
  font-family: $initials-font;
  font-size: 4.8rem;
}
